.update {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 60rem;
  height: 80vh;
  // height: 38rem;
  letter-spacing: 1px;
  margin: auto;
  padding: 1rem 2rem;
  left: calc(50% - 25rem);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
}

.update h2 {
  font-size: 22px;
  font-weight: 600;
  text-align-last: left;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

