.content {
  position: relative;
  padding: 0 5rem;
  margin: 0; 
  height: 600px;
  width: 1300px;
}

.title {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.75);
}

.title h3 {
  font-size: 1.2rem;
}

