.title {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-bottom: 2px solid rgba(117, 112, 112, 0.75);
}

.title h3 {
  font-size: 1.2rem;
}

