

.logo {
  position: absolute;
  width: 5rem;
  height: 10rem;
  top: -2rem;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-image: url('../../../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  text-align: center;
}

.login {
  display: block;
  position: relative;
  width: 25rem;
  margin:  8rem auto;
  max-width: 80%;
}

.form {
  background-color: #fff;
}

.form h3{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.form__control label,
.form__control input {
  display: block;
  width: 90%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.form__control label {
  margin-top: 0.75rem;
  left: 5%;
}

.form__control input {
  font: inherit;
  padding: 0.2rem 0.2rem;
  margin: auto;
}

.form__control input:focus {
  outline: none;
  border-bottom-color: #ff2000;
}

.form__check {
  left: 5%;
  display: inline-block;
  margin: 1rem 0;
}

.form__check label {
  margin-left: 10px;
  vertical-align: center;
}

.form__submit button {
  width: 90%;
  left: 5%;
  background-color: #388E3C;
}

.form__help button {
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 15rem;
  border: inherit;
  background-color: inherit;
  color: #03A9F4;
  font-size: 12px;
}

button {
  font: inherit;
  color: #fff;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  border: 1px solid #388E3C;
  border-radius: 5px;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}